<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ejercicio_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ingresa</title>
</head>
<body>
    <header>
        <img id="Mercado" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <input class="form-control" type="text" placeholder="Buscar productos, marcas" aria-label="Search">
    <i class="fas fa-search"></i>
    
       <h2 class="titulos"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
    
       <nav id="menu">

        <button type="menu" id="botonMenuDesplegable"><i class="fas fa-bars"></i></button>
       </nav>
       <section class="listas" hidden>
        <ul>
            <li><a href="#Ofertas">Ofertas</a></li>
            <li><a href="/oficialStores">Tiendas Oficiales</a></li>
            <li><a href="/sell">Vender</a></li>
            <li><a href="/help">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Creá tu Cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/cart">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>  
    </section>
        
    </header>
    <section>
        <img height="100px" src="/images/img-home-banner.jpg" alt="banner">

        <form action="">
            <p>
                <input type="text" name="username" id="username" placeholder="Nombre de Usuario">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña">
            </p>
            <p>
                <button type="submit" id="botonSubmit">Enviar</button>
            </p>
        </form>

    </section>
    <footer>

        <i class="fas fa-credit-card" style="color: #1259c3"></i>
        <h3>Paga con Tarjeta o Efectivo</h3>
     
        <p align = 'justify'>Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago y ¡Siempre es Seguro!</p>
     
        <i class="fas fa-gift" style= "color: #1259c3"></i>
        <h3>Envíos gratis desde $1990</h3>
        <p align = 'justify'>Sólo por estar registrado en Mercado Liebre tenés envíos gratis  en miles de productos. Es un beneficio de Mercado Puntos</p>
        
        <i class="fas fa-user-shield" style="color:#1259c3"></i>
        <h3>Seguridad de Principio a fin</h3>
         <p align = 'justify'>¿No te gusta? DEVOLVELO!!! en Mercado Liebre  no hay nada  que no pueda ser porque estas siempre Protegido</p>
      
         <h6>Copyright  © Mercado Liebre 1999-2019 SRL</h6>
    </footer>   
         
</body>
</html>