<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ejercicio_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Registrate</title>
</head>
<body>
    <header>
        <img id="Mercado" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <h1 class="titulos">Lugar para poner barra de búsqueda</h1>
    
       <h2 class="titulos"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
    
        <ul class="Listas">
            <li><a href="#Ofertas">Ofertas</a></li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul class="Listas">
            <li><a href="/register">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li></li>
        </ul>  
    
    </header>
        
    <main>
        <img height="75x" src="/images/img-home-banner.jpg" alt="Banner">

        <form action="" method="POST">
             <p><input type="text" name="fullName" id="fullName" placeholder="Nombre y Apellido">
            
            </p>

            <p><input type="text" name="userName" id="userName" placeholder="Nombre de Usuario">
            
            </p>

            <p>
                <input type="email" name="email" id="email" placeholder="E-mail">
            </p>

            <p>
                <label for="Fecha de Nacimiento">Fecha de Nacimiento</label><br>
                <input type="date" name="birthDate" id="birthDate">
            </p>

            <p><input type="text" name="Domicilio" id="Domicilio" placeholder="Domicilio">
            
            </p>

            <p>
                <label for="perfilUsuario" class="negrita">Perfil Usuario</label><br>
                <label><input type="radio" name="Comprador" value="Comprador" id="Comprador">Comprador</label></p>
                <label><input type="radio" name="Vendedor" value="Vendedor" id="Vendedor">Vendedor</label></p>
            </p>

            <p>
                <label for="Intereses" class="negrita">Intereses</label><br>
                <p><label><input type="checkbox" name="Intereses" value="Electro" id="Electro">Electro</label></p>
                <p><label><input type="checkbox" name="Intereses" value="Moda" id="Moda">Moda</label></p>
                <p><label><input type="checkbox" name="Intereses" value="Hogar" id="Hogar">Moda</label></p>
                <p><label><input type="checkbox" name="Intereses" value="jugueteria" id="jugueteria">Juguetería</label></p>
                <p><label><input type="checkbox" name="Intereses" value="vidaSana" id="vidaSana">Vida Sana</label></p>


            <p>
                <label for="fotoUsuario" class="negrita">Elegí tu  foto de Usuario</label><br>
                <input type="file" name="foto" id="foto"></input>   
            </p>

            <p>
                <input type="password" name="password" id="password" placeholder="Contraseña"><br>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirma tu Contraseña">

            </p>

            <p>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>

            </p>


         </form>

    </main>    
    
    <footer>

        <i class="fas fa-credit-card" style="color: #1259c3"></i>
        <h3>Paga con Tarjeta o Efectivo</h3>
     
        <p align = 'justify'>Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago y ¡Siempre es Seguro!</p>
     
        <i class="fas fa-gift" style= "color: #1259c3"></i>
        <h3>Envíos gratis desde $1990</h3>
        <p align = 'justify'>Sólo por estar registrado en Mercado Liebre tenés envíos gratis  en miles de productos. Es un beneficio de Mercado Puntos</p>
        
        <i class="fas fa-user-shield" style="color:#1259c3"></i>
        <h3>Seguridad de Principio a fin</h3>
         <p align = 'justify'>¿No te gusta? DEVOLVELO!!! en Mercado Liebre  no hay nada  que no pueda ser porque estas siempre Protegido</p>
      
         <h6>Copyright  © Mercado Liebre 1999-2019 SRL</h6>
    </footer>   
         
</body>
</html>
     