
header {
    background-color: #eac926;
}

footer{
    color: #666;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.porcentaje {
    color: #39b54a
    
}

.titulares {
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}

#Ofertas {
    font-size: 24px;
    font-family:'Roboto', sans-serif;
}

.descripcion {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
}

h1 {
    font-family:'Roboto', sans-serif;
}
 h3 {
    font-family:'Roboto', sans-serif;
    text-align: center;
 }

 p {
    font-family:'Roboto', sans-serif;
    font-size: 12px;
 }

 li {
     list-style-type: none;
 }

 button {
     background-color: blue;
     border-radius: 85px;
 }

 .negrita {
     font-weight: bold;
 }

 #basado {
    font-size: 24px;
}

#ofertas {
   font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}

a{
    text-decoration: none;
    color: black;
}
 